<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>289417464989-h5tgb7b3p04mddu8lvq72jplhl7pics4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.289417464989-h5tgb7b3p04mddu8lvq72jplhl7pics4</string>
	<key>API_KEY</key>
	<string>AIzaSyDhCRU_Rj6z0xl4GgOu7OPJJQvf0B7KUbI</string>
	<key>GCM_SENDER_ID</key>
	<string>289417464989</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.softlete.app</string>
	<key>PROJECT_ID</key>
	<string>softlete-f1e8f</string>
	<key>STORAGE_BUCKET</key>
	<string>softlete-f1e8f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:289417464989:ios:9d7f92e924961640ab1874</string>
	<key>DATABASE_URL</key>
	<string>https://softlete-f1e8f-default-rtdb.firebaseio.com</string>
</dict>
</plist>